@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: "FreightText Pro";
}

p, li {
  font-family: "FreightText Pro";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

h1, h2, h3, h4 {
  font-family: var(--bebas-neue-font);
}

h1 {
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h2 {
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h3 {
  font-size: 25spx;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
